<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ global.siteName }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}
        <!-- Main style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('fonts/font-awesome/css/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('css/dist/ionicons.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('css/dist/AdminLTE.min.css') }}">
        <!-- Croppie -->
        <link rel="stylesheet" href="{{ asset('css/croppie/croppie.css') }}">
        <!-- Select2 -->
        <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}"/>
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('css/dist/skins/_all-skins.min.css') }}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap3-wysihtml5.min.css') }}">
        <!-- boostrap-datepicker -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-datepicker3.min.css') }}"/>
        <!-- bootstrap-timepicker -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-timepicker.min.css') }}"/>
        <!-- Roboto font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <!-- Glyphicons -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>

{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock %}

{% block javascripts %}
    <!-- jQuery 3 -->
    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{{ asset('js/jquery/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{ asset('js/bootstrap/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <!-- Slimscroll -->
    <script src="{{ asset('js/jquery/jquery.slimscroll.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('js/dist/fastclick.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('js/dist/adminlte.min.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ asset('js/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').select2({
                minimumResultsForSearch: Infinity,
                width: 'none'
            });
        });
    </script>
    <!-- Add active class to opened menu -->
    <script type="text/javascript">
        var url = window.location;
        // for sidebar menu entirely but not cover treeview
        $('ul.sidebar-menu a').filter(function() {
            return this.href != url;
        }).parent().removeClass('active');

        // for sidebar menu entirely but not cover treeview
        $('ul.sidebar-menu a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');

        // for treeview
        $('ul.treeview-menu a').filter(function() {
            return this.href == url;
        }).parentsUntil(".sidebar-menu > .treeview-menu").addClass('active');
    </script>
    <!-- Search Tables -->
    <script src="{{ asset('js/dist/search-table.js') }}"></script>
    <!-- Input masks -->
    <script src="{{ asset('js/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('js/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('js/input-mask/jquery.inputmask.extensions.js') }}"></script>
    <!-- Croppie -->
    <script src="{{ asset('js/croppie/croppie.min.js') }}"></script>
    <!-- boostrap-datepicker -->
    <script src="{{ asset('js/bootstrap/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap-datepicker.fr.min.js') }}"></script>
    <!-- bootstrap-timepicker -->
    <script src="{{ asset('js/bootstrap/bootstrap-timepicker.min.js') }}"></script>
{% endblock %}
</html>