{% extends "@App/App/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <section class="index header" style="background: url('{{ asset('uploads/global/header-' ~ global.id ~ '.png') }}') center">
                <div class="overlay"></div>
                <div class="header-title">Association Grenobloise de Parkour</div>
                <div class="header-subtitle">
                </div>
                <div class="container-header-action">
                    <ul class="header-action">
                        <a href="#index-two-scroll" id="decouvrir-scroll">
                            <li>Découvrir</li>
                        </a>
                    </ul>
                </div>
            </section>
            <section class="index-one">
                <div class="container">
                    <div class="col-md-6">
                        <h2 class="grey h2">Inscriptions</h2>
                        <div class="sep"></div>
                        <p class="text-muted join-assoc">
                            Rejoignez l'association en remplissant votre dossier directement en ligne et devenz membre de l'Association Grenobloise de Parkour.
                        </p>
                        <div class="text-center">
                            <a href="{{ path('agp_register_page') }}">
                                <div class="inscription-more">S'inscrire</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('img/img1.jpg') }}" class="img-responsive"/>
                    </div>
                </div>
                <div id="index-two-scroll"></div>
            </section>
            <section class="index-two">
                <div class="pre-container">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="video-container">
                                <iframe width="560" height="510" src="https://www.youtube.com/embed/n5ypGwfcg_w?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="white">L'association Grenobloise de Parkour</h2>
                            <div class="sep set-contact white-bg"></div>
                            <p>L’Association Grenobloise de Parkour (AGP) est née en 2006 de l’entente des premiers traceurs grenoblois. Leur but était alors de développer et faire connaître cette discipline, qui venait tout juste de naître. À l’époque, les entraînements constituaient avant tout l’occasion de progresser ensemble par l’entraide et le partage d’expériences.</p>
                            <p>Depuis, la discipline a évolué. Elle s’est dotée d’une nomenclature. Aujourd’hui, les encadrants de l’association sont avant tout des traceurs expérimentés qui cherchent à partager cette méthode d’entraînement.</p>
                            <p>Actuellement, l’Association Grenobloise de Parkour propose des entraînements hebdomadaires, adaptés à chaque âge à partir de 10 ans. Elle compte environ 200 adhérents.</p>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <section class="index-three">
                <div class="container">
                    <h2 class="grey h2 text-center">Actualités</h2>
                    <div class="sep sep-actu"></div>
                    {% for key, article in articles %}
                        <div class="col-md-4">
                            {% if article.image is not null %}
                                <img src="{{ asset('/uploads/article/') }}article-{{ article.uniqueId }}.{{ article.image.extension }}" class="img-responsive"/>
                            {% endif %}
                            <h3 class="grey">{{ article.title }}</h3>
                            <p class="text-muted">
                                {{ article.content|slice(0, 120)|striptags }}...
                            </p>
                            <a href="article/{{ article.slug }}/show">
                                <div class="actu-more">Voir</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <section class="index-four">
                <h2 class="white text-center">Vous voulez plus d'informations ?</h2>
                <div class="sep sep-contact white-bg"></div>
                <p class="text-muted text-center">
                    Consultez les dernières actualités ou contactez-nous.
                </p>
                <div class="four-actions">
                    <a href="{{ path('agp_infos_page')}}">
                        <div class="inscription-more-four">Informations</div>
                    </a>
                    <a href="{{ path('agp_contact_page') }}">
                        <div class="four-more">Contact</div>
                    </a>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#decouvrir-scroll').on('click', function() {
                var page = $(this).attr('href');
                var speed = 750;
                $('html, body').animate( { scrollTop: $(page).offset().top }, speed );
                return false;
            });
        });
    </script>
{% endblock %}