{% extends "@App/App/views/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ page.title }}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            {{ include('@App/App/views/page_header.html.twig') }}
            <div class="container">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12">
                            {% if page.image is not null %}
                                <img src="{{ asset('/uploads/page/') }}page-{{ page.uniqueId }}.{{ page.image.extension }}" class="img-responsive mar-auto page-header-img"/>
                            {% endif %}
                            <div class="page-content">
                                <h2>{{ page.title }}</h2>
                                <p>{{ page.content|raw }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="article-end"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(".page-content img").each(function () {
            if ($(this).css("float") === "right") {
                $(this).addClass("img-mar-right");
            }

            if ($(this).css("float") === "left") {
                $(this).addClass("img-mar-left");
            }
        })
    </script>
{% endblock %}