{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Modifier une page{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Croppie -->
    <link rel="stylesheet" href="{{ asset('css/croppie/croppie.css') }}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Page
            <small>Modifier une page</small>
        </h1>
    </section>

    {{ include('@App/Admin/views/template_page.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- TinyMCE -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>

    <!-- TinyMCE init -->
    <script type="text/javascript" src="{{ asset('tinymce/tinymce-init.js') }}"></script>

    <!-- Croppie -->
    <script src="{{ asset('js/croppie/croppie.min.js') }}"></script>

    <!-- Croppie init -->
    <script type="text/javascript">
        // Initialize image cropper
        var $uploadCrop = $('#article-image-preview').croppie({
            viewport: {
                width: 1000,
                height: 500,
                type: 'square'
            },
            boundary: {
                width: 1000,
                height: 600
            },
            enableOrientation: true,
            enableExif: true
        });

        $('#article_image_file').on('change', function() {
            var reader = new FileReader();
            reader.onload = function (e) {
                $uploadCrop.croppie('bind', {
                    url: e.target.result
                })
            };
            reader.readAsDataURL(this.files[0]);
        });

        $('.save-result').on('click', function (ev) {
            $uploadCrop.croppie('result', {
                type: 'canvas',
                size: 'viewport'
            }).then(function (resp) {

                $.ajax({
                    url: "{{ path('agp_edit_page_image', {'id' : page.id }) }}",
                    type: "POST",
                    data: {"image":resp},
                });
            });
        });
    </script>

    <script type="text/javascript">
        $('input#article_image_file').prop('required', false);
    </script>
{% endblock %}
