{% extends "@App/Admin/views/layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dossier
            <small>Modifier le dossier</small>
        </h1>
    </section>

    <div class="modal fade modal-dossier" id="cropp-image" tabindex="-1" role="dialog" aria-labelledby="cropp-image" aria-hidden="true">
        <div class="modal-dialog modal-dialog-article" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cropp-image-title">Redimensionnez la photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="article-image-preview"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-success save-result" data-dismiss="modal">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_infos" data-toggle="tab">Informations & Contact</a></li>
                <li><a href="#tab_medicalCertificate" data-toggle="tab">Certificat médical</a></li>
                <li><a href="#tab_civilCertificate" data-toggle="tab">Attestation de résponsabilité civile</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_infos">
                    {{ form_start(form) }}

                    <div class="add-article-image">
                        <div class="add-article-image-label">
                            <label><b>Photo</b></label> <span class="required">*</span>
                        </div>
                        <div class="add-article-image-preview-container">
                            <img id="add-article-image-preview" class="img-responsive"/>
                        </div>
                        <input type="hidden" name="base64File[image]" id="base64File_image" required/>
                        <input type="file" class="custom-file-input" data-toggle="modal" data-target="#cropp-image" id="article_image_file" required>
                    </div>

                    {{ form_label(form.birthDate) }} <span class="required">*</span>
                    <div class="input-group medium-input">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        {% if user.dossier is not empty %}
                            {{ form_widget(form.birthDate, {'value' : user.dossier.birthDate|date('d/m/Y')}) }}
                        {% else %}
                            {{ form_widget(form.birthDate, {'value' : user.birthDate|date('d/m/Y')}) }}
                        {% endif %}
                    </div>

                    {{ form_end(form) }}
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_medicalCertificate">
                    {{ form_start(formMedical, {'action' : path('agp_edit_medical_certificate', {'dossierId' : dossier.id}) }) }}
                    {{ form_end(formMedical) }}
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_civilCertificate">
                    {{ form_start(formCivil, {'action' : path('agp_edit_civil_certificate', {'dossierId' : dossier.id }) }) }}
                    {{ form_end(formCivil) }}
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Croppie -->
    <script type="text/javascript">
        // Initialize image cropper
        var $uploadCrop = $('#article-image-preview').croppie({
            viewport: {
                width: 200,
                height: 200,
                type: 'square'
            },
            boundary: {
                width: 300,
                height: 300
            },
            enableOrientation: true,
            enableExif: true
        });

        $('#article_image_file').on('change', function() {
            var reader = new FileReader();
            reader.onload = function (e) {
                $uploadCrop.croppie('bind', {
                    url: e.target.result
                })
            };
            reader.readAsDataURL(this.files[0]);
        });

        $('.save-result').on('click', function (ev) {
            $uploadCrop.croppie('result', {
                type: 'canvas',
                size: 'viewport'
            }).then(function (resp) {
                $("#add-article-image-preview").attr('src', resp);
                var temp = resp;

                document.getElementById('base64File_image').value = temp;
            });
        });
    </script>

    <!-- Input masks -->
    <script type="text/javascript">
        $(function () {

            $('[data-mask]').inputmask();

            var birthDateInput = $('input#dossier_birthDate');

            $(birthDateInput).keyup(function() {
                if (birthDateInput.inputmask('isComplete')) {
                    $.ajax({
                        url: "{{ path('agp_calculate_age') }}",
                        dataType: 'json',
                        type: 'POST',
                        data: { date : birthDateInput.val() },
                        success: function (data, textStatus, jqXHR) {
                            if (data < 18) {
                                $('input#dossier_parentalAuthorization').prop('required', true);
                                $('div.parentalAuthorization').removeClass('no-display')
                            } else {
                                $('input#dossier_parentalAuthorization').prop('required', false);
                                $('div.parentalAuthorization').addClass('no-display');
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('Veuillez remplir la date de naissance')
                        }
                    });
                }
            });
        });
    </script>

    <!-- Remove required on edit for ajax image upload -->
    <script type="text/javascript">
        $('input#article_image_file').prop('required', false);
    </script>
{% endblock %}