{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Paramètres{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Paramètres
            <small>Modifier les paramètres de l'application</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid custom-settings">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary box-padding">
                    <div>
                        <h2 class="page-header"><i class="fa fa-cogs margin-r-15" aria-hidden="true"></i>Configuration</h2>
                    </div>
                    <div>
                        {{ form_start(form) }}
                        <div>
                            {{ form_row(form.siteName) }}
                        </div>
                        <div>
                            {{ form_row(form.headerImage) }}
                        </div>
                        <div>
                            {{ form_label(form.themeColor) }}
                            <div>
                                {{ form_widget(form.themeColor) }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="page-header pad-t-20"><i class="fa fa-book margin-r-15" aria-hidden="true"></i>Dates & Inscriptions</h2>
                    </div>
                    <div>
                        <div class="inline-block">
                            {{ form_label(form.registrationDateStart) }}
                            {{ form_widget(form.registrationDateStart, {'value' : global.registrationDateStart|date('d/m/Y')}) }}
                        </div>
                        <div class="inline-block mar-l-5">
                            {{ form_label(form.registrationDateEnd) }}
                            {{ form_widget(form.registrationDateEnd, {'value' : global.registrationDateEnd|date('d/m/Y')}) }}
                        </div>
                        <div class="mar-t-10">
                            {{ form_label(form.endOfYearDate) }}
                            {{ form_widget(form.endOfYearDate, {'value' : global.endOfYearDate|date('d/m/Y')}) }}
                        </div>
                        <div class="mar-t-10">
                            {{ form_row(form.membershipFee) }}
                        </div>
                    </div>
                    <div>
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Datepicker -->
    <script>
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: "fr",
            changeMonth: true,
            changeYear: true
        })
    </script>
{% endblock %}