{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Dossiers{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dossiers
            <small>Liste des dossiers</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-header list-header">
                <h3 class="box-title">Dossiers d'inscription</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input type="text" id="system-search" name="table_search" class="form-control pull-right" placeholder="Rechercher dans les dossiers">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-striped list-table list-dossiers">
                    <thead>
                        <tr>
                            <th>ID unique</th>
                            <th>Propriétaire</th>
                            <th>Dossier</th>
                            <th>Statut</th>
                            <th>Inscrit FPK</th>
                            {% if is_granted('ROLE_MEMBRE_CA') %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                    {% for key, dossier in dossiers %}
                        <tr>
                            <td>{{ dossier.uniqueId }}</td>
                            <td>{{ dossier.user.firstName }} {{ dossier.user.lastName }}</td>
                            <td><a target="_blank" href="{{ path('agp_show_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}">Accéder au dossier</a></td>
                            <td>
                                {% if dossier.enabled == 0 %}
                                    {% if dossier.medicalCertificate is null or dossier.civilLiabilityCertificate is null %}
                                        <span class="btn btn-danger">Incomplet</span>
                                    {% else %}
                                        <span class="btn btn-warning">En attente</span>
                                    {% endif %}
                                {% endif %}

                                {% if dossier.enabled == 1 %}
                                    {% if dossier.fpkNumber is not empty %}
                                        <span class="btn btn-success">Validé FPK</span>
                                    {% else %}
                                        <span class="btn btn-success">Validé</span>
                                    {% endif %}
                                {% endif %}

                                {% if dossier.enabled == 2 %}
                                    <span class="btn btn-danger">Refusé</span>
                                    {% if dossier.medicalCertificate is not null and dossier.civilLiabilityCertificate is not null %}
                                        <span class="btn btn-warning">En attente</span>
                                    {% else %}
                                        <span class="btn btn-danger">Incomplet</span>
                                    {% endif %}
                                {% endif %}

                                {% if dossier.enabled == 3 %}
                                    <span class="btn btn-disabled">Désactivé</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if dossier.fpkRegistered == 1 %}
                                    <input id="fpkRegistered" type="checkbox" name="Inscrit FPK" title="Inscrit FPK" checked/>
                                {% else %}
                                    <input id="fpkRegistered" type="checkbox" name="Inscrit FPK" title="Inscrit FPK"/>
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_MEMBRE_CA') %}
                                <td>
                                    <a href="{{ path('agp_edit_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Editer">Editer</a>
                                    {% if dossier.enabled == 1 %}
                                        | <a href="{{ path('agp_deactivate_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Désactiver">Désactiver</a>
                                    {% endif %}
                                    | <a href="{{ path('agp_delete_dossier', {'dossierId' : dossier.id}) }}" title="Supprimer">Supprimer</a>

                                    <div class="space"></div>

                                    {% if dossier.enabled == 0 %}
                                        {% if dossier.medicalCertificate is not empty and dossier.civilLiabilityCertificate is not empty %}
                                            <a href="{{ path('agp_reject_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Refuser">Refuser</a>
                                            | <a href="{{ path('agp_activate_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Valider">Valider</a>
                                        {% endif %}
                                    {% endif %}

                                    {% if dossier.enabled == 2 %}
                                        {% if dossier.medicalCertificate is not null and dossier.civilLiabilityCertificate is not null %}
                                            | <a href="{{ path('agp_activate_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Valider">Valider</a>
                                        {% endif %}
                                    {% endif %}

                                    {% if dossier.enabled == 3 %}
                                        | <a href="{{ path('agp_activate_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Activer">Activer</a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                        <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
                        <script type="text/javascript">

                            var checkbox = $('#fpkRegistered');

                            checkbox.on('change',function() {
                                var params = {
                                    type: "POST",
                                };

                                if (checkbox.is(":checked")) {
                                    params.url = "{{ path('agp_add_fpk_registered', {'id' : dossier.id}) }}",
                                        params.data = { checkboxValue : checkbox.is(":checked") };
                                } else {
                                    params.url = "{{ path('agp_remove_fpk_registered', {'id' : dossier.id}) }}",
                                        params.data = { checkboxValue : checkbox.is(":checked") };
                                }

                                $.ajax(params);
                            });
                        </script>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}