{% extends "@App/Admin/views/layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dossiers
            <small>Liste des dossiers</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-header list-header">
                <h3 class="box-title">Dossiers d'inscription</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input type="text" id="system-search" name="table_search" class="form-control pull-right" placeholder="Rechercher dans les dossiers">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-striped list-table list-dossiers">
                    <thead>
                    <tr>
                        <th>ID unique</th>
                        <th>Propriétaire</th>
                        <th>Dossier</th>
                        <th>Statut</th>
                        {% if is_granted('ROLE_MEMBRE_CA') %}
                        <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, dossier in dossiers %}
                        <tr>
                            <td>{{ dossier.uniqueId }}</td>
                            <td>{{ dossier.user.firstName }} {{ dossier.user.lastName }}</td>
                            <td><a target="_blank" href="{{ path('agp_show_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}">Accéder au dossier</a></td>
                            <td>
                                {% if dossier.enabled is null %}
                                    <span class="btn btn-warning">En attente</span>
                                    {% elseif dossier.enabled == 2 %}
                                        <span class="btn btn-success">Validé FPK</span>
                                    {% elseif dossier.enabled == 1 %}
                                        <span class="btn btn-success">Validé</span>
                                    {% elseif dossier.enabled == 0 %}
                                        <span class="btn btn-danger">Incomplet</span>
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_MEMBRE_CA') %}
                            <td>
                                <a href="{{ path('agp_edit_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Editer le dossier">Editer</a> |
                                {% if dossier.enabled is null %}
                                    <a href="{{ path('agp_deactivate_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Refuser">Refuser</a> |
                                    {% if dossier.enabled is null and dossier.fpkNumber is not null %}
                                        <a href="{{ path('agp_activate_dossier_fpk', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Valider FPK">Valider et inscrit à la FPK</a>
                                        {% else %}
                                            <a href="{{ path('agp_activate_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Valider">Valider</a>
                                    {% endif %}
                                    {% elseif dossier.enabled == 1 or dossier.enabled == 2 %}
                                        <a href="{{ path('agp_deactivate_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Désactiver">Désactiver</a>
                                    {% elseif dossier.enabled == 0 and dossier.fpkNumber is not null %}
                                        <a href="{{ path('agp_activate_dossier_fpk', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Valider FPK">Valider et inscrit à la FPK</a>
                                    {% else %}
                                        <a href="{{ path('agp_activate_dossier', {'id' : dossier.user.id, 'dossierId' : dossier.id}) }}" title="Valider">Valider</a>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
