{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Nouveau créneau d'entraînement{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!-- TimePicker -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-timepicker.min.css') }}"/>

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}"/>
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Type d'entraînement
            <small>Ajouter un créneau d'entraînement</small>
        </h1>
    </section>

    {{ include('@App/Admin/views/template_training_ref.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- TimePicker -->
    <script src="{{ asset('js/bootstrap/bootstrap-timepicker.min.js') }}"></script>

    <!-- TimePicker init -->
    <script>
        $(function () {
            $('.timepicker').timepicker({
                showInputs: false,
                showMeridian: false
            })
        })
    </script>

    <!-- Select2 -->
    <script src="{{ asset('js/select2/select2.min.js') }}"></script>

    <!-- Select2 init -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').select2({
                minimumResultsForSearch: Infinity,
                width: 'none'
            });

            if (window.location.hash != "") {
                $('a[href="' + window.location.hash + '"]').click()
            }
        });
    </script>
{% endblock %}
