{% extends "@App/Admin/views/layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dossier
            <small>Ajouter un dossier</small>
        </h1>
    </section>

    <div class="modal fade modal-dossier" id="cropp-image" tabindex="-1" role="dialog" aria-labelledby="cropp-image" aria-hidden="true">
        <div class="modal-dialog modal-dialog-article" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cropp-image-title">Redimensionnez la photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="article-image-preview"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-success save-result" data-dismiss="modal">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#infos" data-toggle="tab">Informations & Contact</a></li>
                <li class="disabled"><a href="#" data-toggle="tab">Documents</a></li>
                <li class="disabled"><a href="#" data-toggle="tab">Cotisation</a></li>
            </ul>
            <div class="tab-content tab-content-pad">
                <div class="tab-pane active" id="infos">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h3 class="page-header pad-t-20"><i class="fa fa-user margin-r-15" aria-hidden="true"></i>Informations personnelles</h3>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="add-article-image">
                                        <div class="add-article-image-label">
                                            <label><b>Photo</b></label> <span class="required">*</span>
                                        </div>
                                        <div class="add-article-image-preview-container">
                                            <img id="add-article-image-preview" class="img-responsive"/>
                                        </div>
                                        <input type="hidden" name="base64File[image]" id="base64File_image" required/>
                                        <input type="file" class="custom-file-input" data-toggle="modal" data-target="#cropp-image" id="article_image_file" required>
                                    </div>
                                    <i class="text-muted">Poids maximum : 3Mo</i>
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.sex) }} <span class="required">*</span>
                                    <div>{{ form_widget(form.sex) }}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.firstName) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.lastName) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_label(form.birthDate) }} <span class="required">*</span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        {% if user.dossier is not empty %}
                                            {{ form_widget(form.birthDate, {'value' : user.dossier.birthDate|date('d/m/Y')}) }}
                                        {% else %}
                                            {{ form_widget(form.birthDate, {'value' : user.birthDate|date('d/m/Y')}) }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="parentalAuthorization no-display">
                                        {{ form_label(form.parentalAuthorization) }} <span class="required">*</span>
                                        <p class="text-muted parentalText">
                                            {{ form_widget(form.parentalAuthorization) }}
                                            Je réalise cette inscription pour un enfant mineur et je m'engage à venir chercher mon enfant ou l'autorise à rentrer par ses propres moyens (seul) pendant ou après l’entraînement.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label>Droit à l'image</label>
                                <p class="text-muted text-justify conditions-text">
                                    {{ form_widget(form.imageRight) }}
                                    J’autorise l’Association Grenobloise de Parkour à utiliser mon image / l’image de mon enfant pour promouvoir ses activités sur son site web, sa page facebook et lors de forums et d’événements sportifs.
                                </p>
                            </div>
                            <div>
                                <label class="pad-t-5">Responsabilité</label> <span class="required">*</span>
                                <p class="text-muted text-justify conditions-text">
                                    {{ form_widget(form.responsability) }}
                                    Je certifie avoir pris connaissance des activités proposées par l’Association Grenobloise de Parkour (AGP) et déclare qu’elles n’engagent que ma seule responsabilité en cas d’accident ou d’incident.
                                </p>
                            </div>
                            <div>
                                <label class="pad-top-5">Conditions d'inscription</label> <span class="required">*</span>
                                <p class="text-muted text-justify conditions-text">
                                    {{ form_widget(form.termsOfAgreement) }}
                                    J'atteste avoir lu et compris la charte de la Fédération de Parkour.
                                    <a href="#">Lire la chartre</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div>
                                <h3 class="page-header pad-t-20"><i class="fa fa-map-marker margin-r-15" aria-hidden="true"></i>Localisation & Contact</h3>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_label(form.email) }} <span class="required">*</span>
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        {% if user.dossier is not empty %}
                                            {{ form_widget(form.email) }}
                                        {% else %}
                                            {{ form_widget(form.email, {'value' : user.email}) }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.phone) }}
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                        {% if user.dossier is not empty %}
                                            {{ form_widget(form.phone) }}
                                        {% else %}
                                            {% if user.phone is defined %}
                                                {{ form_widget(form.phone, {'value' : user.phone}) }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(form.street) }} <span class="required">*</span>
                                    {{ form_widget(form.street) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_label(form.city) }} <span class="required">*</span>
                                    {{ form_widget(form.city) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_label(form.zipCode) }} <span class="required">*</span>
                                    {{ form_widget(form.zipCode) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12"><hr></div>
                                <div class="col-md-12"><h4>Contact d'urgence #1</h4></div>
                                <div class="col-md-6">
                                    {{ form_label(form.emergencyContactLastName) }} <span class="required">*</span>
                                    {{ form_widget(form.emergencyContactLastName) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.emergencyContactFirstName) }} <span class="required">*</span>
                                    {{ form_widget(form.emergencyContactFirstName) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.emergencyContactPhone) }} <span class="required">*</span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                        {{ form_widget(form.emergencyContactPhone) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.emergencyContactRelation) }} <span class="required">*</span>
                                    {{ form_widget(form.emergencyContactRelation) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12"><hr></div>
                                <div class="col-md-12 emergencyContactTwo">
                                    <div class="box collapsed-box">
                                        <div class="box-header">
                                            <h4>Contact d'urgence #2</h4>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body" style="display: none;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ form_row(form.emergencyContactTwoLastName) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.emergencyContactTwoFirstName) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_label(form.emergencyContactTwoPhone) }}
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                        {{ form_widget(form.emergencyContactTwoPhone) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.emergencyContactTwoRelation) }}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hidden">
                            {{ form_widget(form.fpkNumber) }}
                            {{ form_widget(form.shirtSize) }}
                            {{ form_widget(form.paymentType) }}
                        </div>

                        <div class="col-md-12"><hr></div>
                        <div class="col-md-12 text-center">
                            {{ form_row(form.submit, {'label' : 'Créer le dossier'}) }}
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="cotisation">
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="documents">
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Croppie -->
    <script type="text/javascript">
        // Initialize image cropper
        var $uploadCrop = $('#article-image-preview').croppie({
            viewport: {
                width: 200,
                height: 200,
                type: 'square'
            },
            boundary: {
                width: 300,
                height: 300
            },
            enableOrientation: true,
            enableExif: true
        });

        $('#article_image_file').on('change', function() {
            var reader = new FileReader();
            reader.onload = function (e) {
                $uploadCrop.croppie('bind', {
                    url: e.target.result
                })
            };
            reader.readAsDataURL(this.files[0]);
        });

        $('.save-result').on('click', function (ev) {
            $uploadCrop.croppie('result', {
                type: 'canvas',
                size: 'viewport'
            }).then(function (resp) {
                $("#add-article-image-preview").attr('src', resp);
                var temp = resp;

                document.getElementById('base64File_image').value = temp;
            });
        });
    </script>

    <!-- Input masks -->

    <script type="text/javascript">
        $(function () {

            $('[data-mask]').inputmask();

            var birthDateInput = $('input#dossier_birthDate');

            $(birthDateInput).keyup(function() {
                if (birthDateInput.inputmask('isComplete')) {
                    $.ajax({
                        url: "{{ path('agp_calculate_age') }}",
                        dataType: 'json',
                        type: 'POST',
                        data: { date : birthDateInput.val() },
                        success: function (data, textStatus, jqXHR) {
                            if (data < 18) {
                                $('input#dossier_parentalAuthorization').prop('required', true);
                                $('div.parentalAuthorization').removeClass('no-display')
                            } else {
                                $('input#dossier_parentalAuthorization').prop('required', false);
                                $('div.parentalAuthorization').addClass('no-display');
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('Veuillez remplir la date de naissance')
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}