{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Nouvel enfant{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Enfant
            <small>Ajouter un enfant</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary box-padding">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h2 class="page-header"><i class="fa fa-file-o margin-r-5" aria-hidden="true"></i>Dossier d'inscription à l'Association Grenobloise de Parkour</h2>
                    </div>
                </div>
                <div class="form-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-12">
                            <div>{{ form_label(form.username) }}</div>
                            <div class="input-group medium-input">
                                {{ form_widget(form.username) }}
                            </div>

                            <div>{{ form_label(form.email) }}</div>
                            <div class="input-group medium-input">
                                {{ form_widget(form.email) }}
                            </div>

                            <div>{{ form_label(form.plainPassword) }}</div>
                            <div class="input-group medium-input">
                                {{ form_widget(form.plainPassword.first) }}
                            </div>

                            <div class="input-group medium-input plainPassword-second">
                                {{ form_widget(form.plainPassword.second) }}
                            </div>

                            <div class="input-group medium-input">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>{{ form_label(form.firstName) }}</div>
                                        {{ form_widget(form.firstName) }}
                                    </div>
                                    <div class="col-md-6">
                                        <div>{{ form_label(form.lastName) }}</div>
                                        {{ form_widget(form.lastName) }}
                                    </div>
                                </div>
                            </div>

                            <div>{{ form_label(form.birthDate) }}</div>
                            <div class="input-group medium-input">
                                {{ form_widget(form.birthDate) }}
                            </div>
                            <hr>
                            <div class="col-md-12 text-center">
                                {{ form_widget(form.submit, { attr: { 'class' : 'btn btn-primary bold' }}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Input masks -->
    <script src="{{ asset('js/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('js/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('js/input-mask/jquery.inputmask.extensions.js') }}"></script>

    <!-- Input masks init -->
    <script type="text/javascript">
        $(function () {
            $('[data-mask]').inputmask();
        });
    </script>
{% endblock %}